<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off"
	  internalLogFile="logErrs.log" >
	<variable name="appName" value="CongDoanCoSo" />
	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>
	<targets async="true">
		<target xsi:type="File" name="file" layout="${longdate} - ${level:uppercase=true}:${newline}${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}${newline}"
				fileName="Debug.log"
				keepFileOpen="false" archiveFileName="Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
		<target xsi:type="EventLog" name="eventlog" source="${appName}"
				layout="${message}${newline}${exception:format=ToString}"/>
		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
				<property name="ThreadId" value="${threadid}" as="number" />
				<property name="MachineName" value="${machinename}" />
				<property name="Application" value="ProjectZ1" />
				<property name="Source" value="${callsite}" />
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" writeTo="file" minlevel="Trace" />
		<logger name="*" writeTo="seq" minlevel="Trace" />
	</rules>
</nlog>