<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" 
      throwExceptions="false"
      internalLogLevel="Off"       
      internalLogFile="logErrs.log" >
  <variable name="appName" value="VERMILION" />
  <targets async="true">
    <target xsi:type="File" name="file" layout="${longdate} - ${level:uppercase=true}:${newline}${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}${newline}"
            fileName="Debug.log"
            keepFileOpen="false" archiveFileName="Debug_${shortdate}.{##}.log"
            archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
    <target xsi:type="EventLog" name="eventlog" source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="file" minlevel="Trace" />
  </rules>
</nlog>